// Colors
// ------


$dark: #333;
$dark-grey: #4f4f4f;
$light-grey: #bfbfbf;
$light: #f8f8f8;
$white: #fff;


// Main
// ----


html,
body {
  height: 100%;
}

body {
  background-color: $dark !important;
  color: $light;
}

a,
a:focus,
a:hover {
  color: $light;
}

.turbolinks-progress-bar {
  height: .46rem;
  background-color: $light;
}


// Cover
// -----


.cover-image {
  background-image: image-url("jj-ying-215319-lqip.jpg");
  background-size: cover;
}

.color-overlay {
  background-color: $dark;
  opacity: 0.933;
}

.cover .logo {
  width: 13rem;
  fill: $white;
}

.slogan {
  margin-top: 2rem !important;
  margin-bottom: 1.7rem !important;
  font-size: 1.25rem;
  color: $white;
}

.cover .btn-lg {
  font-size: 1.25rem;
}

@include media-breakpoint-up(md) {
  .cover .logo {
    width: 20rem;
  }

  .slogan {
    margin-top: 2.9rem !important;
    margin-bottom: 2.6rem !important;
    font-size: 1.35rem;
  }

  .cover .btn-lg {
    font-size: 1.35rem;
  }
}


// Navbar
// -------


.navbar .logo {
  width: 5rem;
  fill: $light;
}

.navbar-brand {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding-top: .86rem;
  padding-bottom: .4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dropdown-menu {
  top: 111%;
  left: -50%;
  min-width: 14rem;
  background-color: $dark;
  opacity: 0.938;
  border: none;
  border-left: 1px solid $dark-grey;
  border-right: 1px solid $dark-grey;
  border-bottom: 1px solid $dark-grey;
  border-radius: 0.3rem;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}

.dropdown-divider {
  border-top: 1px solid $dark-grey;
}

.dropdown-item {
  padding: 1rem 1.5rem;
  font-size: 1.35rem;
  text-align: initial;
  color: $white;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: $dark-grey;
  color: $white;
}
.dropdown-item:active {
  background-color: $white;
}

.menu-icon {
  margin-right: .85rem;
  vertical-align: bottom;
  fill: $white;
}

.dropdown-item:active
.menu-icon {
  fill: $dark;
}

.menu-icon-home {
  vertical-align: calc(-8px);
}

.menu-icon-list,
.menu-icon-focus {
  vertical-align: calc(-11px);
}

.menu-icon-about {
  vertical-align: calc(-10px);
}

@include media-breakpoint-up(md) {
  .navbar .logo {
    width: 7.1rem;
  }

  .dropdown-menu {
    top: 110%;
    left: -27%;
  }
}


// Content
// -------


.pt-navbar {
  padding-top: 4.35rem;
}

@include media-breakpoint-up(md) {
  .pt-navbar {
    padding-top: 5.1rem;
  }
}

.photo-container {
  display: inline-block;
  background-size: contain;
}

.photo {
  display: block;
  width: 100%;
  max-height: calc(100vh - 8.4rem);
}

.photo-credit {
  margin-top: 0.6rem !important;
  color: $light-grey;
  a {
    color: $light-grey;
  }
  a:focus,
  a:hover {
    color: $light;
  }
}


// Footer
// ------


// .footer {
//   width: 100%;
//   height: 60px;
//   line-height: 60px;
// }

// .footer > .container {
//   padding-right: 15px;
//   padding-left: 15px;
// }


// Bootstrap Specific
// ------------------


.bg-dark {
  background-color: $dark !important;
}

.btn-outline-secondary {
  color: $white;
  background-color: transparent;
  background-image: none;
  border-color: $white;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active {
  color: $dark;
  text-shadow: none;
  background-color: $white;
  background-image: none;
  border-color: $white;
}
