// Colors
// ------


$dark: #333;
$light: #f8f8f8;
$light-grey: #bfbfbf;


// Main
// ----


html,
body {
  height: 100%;
}

body {
  background-color: $dark !important;
  color: $light;
}

a,
a:focus,
a:hover {
  color: $light;
}

.turbolinks-progress-bar {
  height: .46rem;
  background-color: $light;
}

.logo__text {
  fill: $light;
}


// Cover
// -----


.cover-image {
  background-image: url("/jj-ying-215319.jpg");
  background-size: cover;
}

.color-overlay {
  background-color: $dark;
  opacity: 0.933;
}

.cover .logo {
  width: 22%;
}

.slogan {
  margin-top: 2.4rem !important;
  margin-bottom: 2.1rem !important;
  font-size: 1.25rem;
}


// Content
// -------


.navbar .logo {
  width: 100%;
}

.photo-credit {
  color: $light-grey;
  a {
    color: $light-grey;
  }
  a:focus,
  a:hover {
    color: $light;
  }
}


// Footer
// ------


.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


// Bootstrap Specific
// ------------------


.bg-dark {
  background-color: $dark !important;
}

.navbar-brand {
  margin-top: .5rem !important;
  margin-bottom: .15rem !important;
  width: 6%;
}

.btn-outline-secondary {
  color: $light;
  background-color: transparent;
  background-image: none;
  border-color: $light;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active {
  color: $dark;
  text-shadow: none;
  background-color: $light;
  background-image: none;
  border-color: $light;
}
