// ------
// Colors
// ------




$deep-dark: #212121;
$dark: #333;
$dark-grey: #4f4f4f;
$light-grey: #bfbfbf;
$light: #f8f8f8;
$white: #fff;




// ------
// Mixins
// ------




@mixin position-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




// ----
// Main
// ----




html,
body {
  height: 100%;
}

body {
  background-color: $dark !important;
  color: $light;
}

a,
a:focus,
a:hover {
  color: $light;
}

.turbolinks-progress-bar {
  height: .46rem;
  background-color: $light;
}




// -----
// Cover
// -----




.cover-image--low-res {
  @include position-absolute;
  background-image: image-url("jj-ying-215319-lqip.jpg");
  background-size: cover;
  filter: blur(.9rem);
  animation: .5s fade-in;
  z-index: 0;
}

.cover-image {
  @include position-absolute;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
}

.color-overlay {
  position: relative;
  background-color: $dark;
  opacity: .933;
  z-index: 2;
}

.cover .logo {
  width: 13rem;
  fill: $white;

  @include media-breakpoint-up(md) {
    width: 20rem;
  }
}

.slogan {
  margin-top: 2rem !important;
  margin-bottom: 1.7rem !important;
  font-size: 1.25rem;
  color: $white;

  @include media-breakpoint-up(md) {
    margin-top: 2.9rem !important;
    margin-bottom: 2.6rem !important;
    font-size: 1.35rem;
  }
}

.cover .btn-lg {
  font-size: 1.25rem;

  @include media-breakpoint-up(md) {
    font-size: 1.35rem;
  }
}




// ------
// Navbar
// ------




.navbar {
  z-index: 1030;
}

.navbar-logo {
  width: 5rem;
  height: auto;
  fill: $light;

  @include media-breakpoint-up(md) {
    width: 7.1rem;
  }
}

.navbar-brand {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding-top: .86rem;
  padding-bottom: .4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dropdown-menu {
  top: 111%;
  left: -50%;
  min-width: 14rem;
  background-color: $dark;
  opacity: 1;
  border: none;
  border-left: 1px solid $dark-grey;
  border-right: 1px solid $dark-grey;
  border-bottom: 1px solid $dark-grey;
  border-radius: 0.3rem;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  z-index: 2000;

  @include media-breakpoint-up(md) {
    top: 109%;
    left: -27%;
  }
}

.dropdown-divider {
  border-top: 1px solid $dark-grey;
}

.dropdown-item {
  padding: 1rem 1.5rem;
  font-size: 1.35rem;
  text-align: initial;
  color: $white;

  &:hover,
  &:focus {
    background-color: $dark-grey;
    color: $white;
  }

  &:active {
    background-color: $white;
  }
}

.menu-icon {
  margin-right: .85rem;
  vertical-align: bottom;
  fill: $white;
}

.dropdown-item:active
.menu-icon {
  fill: $dark;
}

.menu-icon-home {
  vertical-align: calc(-8px);
}

.menu-icon-list,
.menu-icon-focus {
  vertical-align: calc(-11px);
}

.menu-icon-about {
  vertical-align: calc(-10px);
}




// -------
// Content
// -------




.main-container-overlay {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $deep-dark;
  opacity: 0;
  z-index: 1000;
  transition: all 0.5s;
}

.main-container-overlay--visible {
  visibility: initial;
  opacity: .88;
}

.main-container--focus {
  padding-top: 0.15rem;
}

.pt-navbar {
  padding-top: 4.35rem;

  @include media-breakpoint-up(md) {
    padding-top: 5.1rem;
  }
}

.row-photo--focus {
  padding-top: .4rem;
  padding-right: .4rem;
  padding-left: .4rem;
  min-height: calc(100vh - 7.4rem);
  background-color: $deep-dark;

  @include media-breakpoint-up(md) {
    min-height: calc(100vh - 8.2rem);
  }
}

.photo-container-wrapper {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.photo-container {
  position: relative;
  display: inline-block;
  background-size: contain;
  background-color: darken($dark-grey, 10%);
  overflow: hidden;
}

.photo {
  position: relative;
  display: block;
  max-width: 100%;
  max-height: calc(100vh - 9.1rem);
  opacity: 0;
  transition: all 1s;
  z-index: 1;
}

.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
}

.photo--low-res {
  @include position-absolute;
  filter: blur(0.85rem) grayscale(27%);
  animation: .5s fade-in;
  z-index: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cursor-resize {
  cursor: nesw-resize;
}

.photo-limited-height {
  max-height: calc(100vh - 9.1rem);
}

.photo-max-height {
  max-height: initial;
}

.next-photo {
  padding-bottom: .2rem;
}

.next-photo-link {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 3rem;
  line-height: 1;
  color: $light-grey;
  transition: all .5s;

  &:hover,
  &:focus {
    color: $light;
    text-decoration: none;
  }
}

.photo-credit {
  color: $light-grey;

  a {
    color: $light-grey;
    transition: all .5s;

    &:hover,
    &:focus {
      color: $light;
    }
  }
}

.photo-credit--focus {
  padding-top: 1rem;
  padding-bottom: .8rem;
  background-color: lighten($dark, 4.9);
}

.photo-credit--list {
  margin-top: 0.6rem !important;
}

.row-photo-divisor {
  margin-top: 3.1rem;
  margin-bottom: 4.1rem;
  border-top: 1px solid lighten($dark-grey, 2%);
}

.row-photo-divisor:last-child {
  display: none;
}




// ------------------
// Bootstrap Specific
// ------------------




.bg-dark {
  background-color: $dark !important;
}

.btn-outline-secondary {
  color: $white;
  background-color: transparent;
  background-image: none;
  border-color: $white;

  &:hover,
  &:active {
    color: $dark;
    text-shadow: none;
    background-color: $white;
    background-image: none;
    border-color: $white;
  }
}
