<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark text-center">
    <a class="navbar-brand mx-auto" href="<%= root_path %>">

      <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.22329 152.4" role="img" aria-label="draw logo">
        <title>draw logo</title>
        <text class="logo__text" x="120.96432" y="559.64819" fill="#fff" style="line-height:125%" font-size="200" letter-spacing="0" word-spacing="0" transform="translate(-125.96 -410.448)">
          <tspan x="120.96432" y="559.64819" style="-inkscape-font-specification:'Leckerli One'" font-family="Leckerli One">draw</tspan>
        </text>
      </svg>

    </a>
  </nav>
</header>
