<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark text-center">
    <a class="navbar-brand mx-auto" href="<%= root_path %>">
      <%= inline_svg "logo.svg", class: "logo",
        aria: true, title: "draw logo" %>
    </a>
  </nav>
</header>
